{% extends 'layout/base.twig' %}

{# Vídeos do YouTube #}
{# Referência da API: https://github.com/madcoda/php-youtube-api/wiki/api-reference #}
{% set playlist = post.custom.youtube_playlist %}

{% if playlist %}
{# {% set videosYT = YT.getPlaylistItemsByPlaylistId(playlist)|slice(0, 3) %} #}
{% endif %}

{# Slider #}
{% block slider %}
	<div id="slide" class="slide">
		{{ function ('do_shortcode', '[rev_slider alias="home"]') }}
		<div class="scroll-down">
			<a class="scroll" href="#carrosel-videos-home"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
		</div>
	</div>
	<div id="slide" class="slide mobile">
		{{ function ('do_shortcode', '[rev_slider alias="mobile"]') }}
		<div class="scroll-down">
			<a class="scroll" href="#carrosel-videos-home"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
		</div>
	</div>
{% endblock %}

{% block body %}	
	<section class="socialItem videos">	
		<div class="container">
			<div class="row vyoutube">
				<h1>YouTube</h1>
				&emsp;<hr>
				<br><br>				

				<div class="col-lg-6">
					<div class="videoBig wow fadeInDown">
						<br><br>
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{videos[0]}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/j4iZfH2Pvf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->

					</div>
					<!-- Videos Youtube automáticos do canal -->
					<div class="row">
						<div class="col-lg-6">
							<div class="videoSmall wow fadeInUp">
								<iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{videos[1]}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/YRkrVPSQ1ao" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
							</div>
						</div>

						<div class="col-lg-6">
							<div class="videoSmall wow fadeInUp">
								<iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{videos[2]}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/bTr_54_KtbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="title-social">
						{{ post.custom.chamada }}
					</div>
					
					<div class="desc-social">
						{{ post.custom.chamada_texto }}
					</div>
					
				{#% if post.custom.chamada_video_id %#}
					<div class="videoMid wow fadeInRight">
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/cQ651M_oLkY" frameborder="0" allowfullscreen></iframe>
					</div>
				{#% endif %#}
				</div>
			</div>
			<br><hr><br>
			
			<div class="row">
				<div class="col-lg-12 blog">
					<h1>Blog da FAM</h1>
				<br>				
				</div>				
			</div>
			<!-- Blog automático -->
			<div class="row">
			<div class="col-lg-6">			
				<img src="{{dicas[0].thumbnail.src}}" style="width:550px;height:330px;"><br>
				<h3><a href="{{dicas[0].link}}">{{dicas[0].name}}</a></h3>			
			</div>
			<div class="col-lg-6">
			<img src="{{dicas[1].thumbnail.src}}" style="width:550px;height:330px;"><br>
				<h3><a href="{{dicas[1].link}}">{{dicas[1].name}}</a></h3>
			</div>		

			</div>	
		</div>
	</section>
	<div class="download-apps"><p>Faça o download<br>e <span>acesse</span> nosso conteúdo</p>
			{# App Store #}
			<div class="down-itens">
			<a href="https://itunes.apple.com/br/app/fam-faculdade-de-americana/id1283307075?mt=8" target="_blank" rel="noopener nofollow">				
			<img class="downbtn1" src="{{ site.theme.link }}/images/down-01.png"></a>&emsp;
			{# Play Store #}
			<a href="https://play.google.com/store/apps/details?id=com.PSX&hl=pt" target="_blank" rel="noopener nofollow">				
			<img class="downbtn2" src="{{ site.theme.link }}/images/down-03.png"></a>

			<img class="celular" src="{{ site.theme.link }}/images/celular.png">
			</div>
	</div>	
	<section id="home-app" class="container">
		<div class="container">
			<div class="row face">
				<div class="col-lg-12">
					<h1 class="txtredesocial">#SejaFAM e mostre pra gente</h1>
					<h2 class="txtredesocial">nas <span class="redsoc">redes sociais</span></h2>
					<br>
					<div class="facebook">
					<!-- FACEBOOK SDK -->
					<div id="fb-root"></div>
					<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v8.0" nonce="pBPTxQlC"></script>
					
					<!-- FACEBOOK POSTS -->

					<div class="fb-page" data-href="https://www.facebook.com/famamericana" 
					data-tabs="timeline" data-width="{{ tamanho }}" data-small-header="false" 
					data-adapt-container-width="true" data-hide-cover="true" 
					data-show-facepile="true">
					<blockquote cite="https://www.facebook.com/famamericana" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/famamericana">FAM - Faculdade de Americana</a>
					</blockquote>
					</div>

					<!-- end FACEBOOK -->
					</div>
					<a href="https://vestibularfam.com.br" target="_blank"><img class="imgfim" src="{{ site.theme.link }}/images/inscrevase.png"></a>		
				</div>
			</div>
		</div>		
	</section>
{% endblock %}