<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>
			{% if wp_title %}
				{{ wp_title }}
			{% else %}
				{{ site.name }}
			{% endif %}
		</title>

		<!-- Bootstrap -->
		<link href="{{ site.theme.link }}/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ site.theme.link }}/css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.theme.link }}/css/owl.carousel.min.css">
		<link rel="stylesheet" href="{{ site.theme.link }}/css/owl.theme.default.min.css">
		<link href="{{ site.theme.link }}/css/updated.css?v=20181105174900" rel="stylesheet">
		<link href="{{ site.theme.link }}/css/responsivo.css" rel="stylesheet">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/images/favicon-16x16.png">
		<script src="https://use.fontawesome.com/bd101e33f5.js"></script>		
		<style>
.wow:first-child {
	visibility: hidden;
}
		</style>
			{% if (post.slug == "fotosfaculdadeaberta") %}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700,800&display=swap" rel="stylesheet"> {% endif %}

		{{ function ('wp_head') }}
	</head>

	<body class="{{ body_class }}">
		<div id="search-box">
			<div class="container">
				<form action="/" class="row">
					<div class="col-sm-10">
						<input type="search" class="form-control" placeholder="Pesquisar..." name="s"/>
					</div>
					<div class="col-sm-2">
						<input class="input-group-addon" type="submit" value="Buscar"/>
					</div>
				</form>
			</div>
		</div>

		<!-- BARRA DE MENU -->
		<div class="menu-bar">
			<ul>
				<!--<li><a href="#" target="_blank"><img src="{{ site.theme.link }}/images/logo-face.png"></a></li>
										<li><a href="#" target="_blank"><img src="{{ site.theme.link }}/images/logo-instagran.png"></a></li>
										<li><a href="#" target="_blank"><img src="{{ site.theme.link }}/images/logo-youtube.png"></a></li>
										<li><a href="#" target="_blank"><img src="{{ site.theme.link }}/images/logo-linkdin.png"></a></li>-->
				<li>
					<span>Acessibilidade</span>&emsp;
					<a href="#" class="acess a">A</a>&emsp;
					<a href="#" class="acess">A</a>&emsp;
					<a href="#" class="acess">&#9680;</a>
				</li>
				<li>|</li>
				<li>
					<a href="/horarios-de-atendimento"><img src="{{ site.theme.link }}/images/logo-contatos.png">&ensp;Atendimento</a>
				</li>

				<li>|</li>
				<li>
					<a href="https://www.famportal.com.br/fam/" target="_blank"><img src="{{ site.theme.link }}/images/logo-pessoas.png">&ensp;Portal do Aluno</a>
				</li>

				{# Pesquisa #}

				<li>
					<a class="nao" href="#">
						<div class="btn-search">
							<i class="fa fa-search" aria-hidden="true" onclick="jQuery('#search-box').addClass('open');"></i>
						</div>
					</a>
				</li>

			</ul>
		</div>

		<!--  MENUS -->
		<header class="header {{ post.slug }}" id="header">
			<nav class="navbar navbar-theme">
				<div
					class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="/">
							<img src="{{ site.theme.link }}/images/logo-fam.png" style="width:140px">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						{% include 'widgets/menu.twig' with { menu: menu.get_items, main: true } %}
					</div>

					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</header>
		<div class="headerback"></div>

		<!-- SLIDER -->
		<div class="block-slider"> {% block slider %}{% endblock %}
			</div>

			<!-- BARRA AMARELA -->
			{% if (post.slug == "home") %}
				<div class="yellow-bar">
					<a href="https://vestibularfam.com.br" target="_blank"><img src="{{ site.theme.link }}/images/barra-amarela.png"></a>
				</div>				
			{% endif %}

			<!-- BODY -->
			<div class="corpo"> {% block body %}{% endblock %}
				</div>


				<!-- FOOTER -->
				<footer id="rodape">
					<div class="container">
						<div class="row">
							{% include 'widgets/menu-footer.twig' with { menu: menu_rodape.get_items, main: true } %}
							</div>
					</div>

					<div class="dev-footer">
						<div class="container">
							<div class="row">
								<div class="col-lg-2">
									<div class="logo-footer">
										<img src="{{ site.theme.link }}/images/logo-fam.png" style="width:140px">
									</div>
								</div>

								<div class="col-lg-2">
									<div class="info-footer">
										Telefones:<br>
										<b>
											<a href="tel:1934658100" class="footer-link">(19) 3465.8100</a><br/>
											<a href="tel:1934782449" class="footer-link">(19) 3478.2449</a>
										</b>
									</div>
								</div>

								<div class="col-lg-2">
									<div class="info-footer">
										Whatsapp:<br>
										<b>
											<a href="https://api.whatsapp.com/send?1=pt_BR&phone=5519994379555" class="footer-link" rel="noopener nofollow" title="Falar com a FAM pelo WhatsApp. Abre nova aba" target="_blank">(19) 99437.9555</a>
										</b><br>

										<a target="_blank" class="footer-social-link" rel="noopener nofollow" href="https://br.linkedin.com/edu/faculdade-de-americana-191005" title="Ir para o LinkedIn da FAM. Abre nova aba">
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</a>
										<a target="_blank" class="footer-social-link" rel="noopener nofollow" href="https://www.facebook.com/famamericana/" title="Ir para a página da FAM no Facebook. Abre nova aba">
											<i class="fa fa-facebook-official" aria-hidden="true"></i>
										</a>
										<a target="_blank" class="footer-social-link" rel="noopener nofollow" href="https://www.instagram.com/famamericana/" title="Ir para o Instagram da FAM. Abre nova aba">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
										<a target="_blank" class="footer-social-link" rel="noopener nofollow" href="https://www.youtube.com/channel/UCpk07TjMWhMr3Wv-bFnkk-A" title="Ir para o canal no YouTube da FAM. Abre nova aba">
											<i class="fa fa-youtube" aria-hidden="true"></i>
										</a>
									</div>
								</div>

								<div class="col-lg-2">
									<div class="info-footer">
										<b>
											<a href="tel:08007712449" class="footer-link">0800 771 2449</a>
										</b><br>
										CAC - Central de Atendimento ao Candidato
									</div>
								</div>

								<div class="col-lg-2">
									<div class="info-footer">
										E-Mail:<br>
										<b>
											<a href="mailto:vestibular@fam.br" class="footer-link">vestibular@fam.br</a>
										</b>
									</div>
								</div>

								<div class="col-lg-2">
									<div class="info-footer">
										Endereço:<br>
										<b>
											Av. Joaquim Boer, 733<br/>
											Jardim Luciene, 13477-360<br/>
											Americana, SP
										</b>
									</div>
								</div>
							</div>

							<div class="row padding-footer">
								<div class="col-lg-6">
									<p class="text-left">© FAM - Faculdade de Americana. Todos os direitos reservados.</p>
								</div>

								<div class="col-lg-6">
									<p class="text-right">Desenvolvido por
										<a href="http://b2s.marketing/">b2s.marketing</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</footer>

				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
				{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
				<!-- Include all compiled plugins (below), or include individual files as needed --><script src="{{ site.theme.link }}/js/bootstrap.min.js"> </script>
				<script src="{{ site.theme.link }}/js/owl.carousel.min.js"></script>
				<link href="{{ site.theme.link }}/css/animate.css" rel="stylesheet">

				<link href="{{ site.theme.link }}/fonts/fam/style.css" rel="stylesheet">

				<link
				href="{{ site.theme.link }}/css/fam2020.css" rel="stylesheet">

				{#<script>
												var $ = jQuery.noConflict();
												$("document").ready(function () {
													$(window).scroll(function () {
														if ($(this).scrollTop() > 500) {
															$('.header').addClass("scroll-header");
														}
														else {
															$('.header').removeClass("scroll-header");
														}
													});
												});
											</script>#}

				<script type="text/javascript" src="{{ site.theme.link }}/js/sticky.js"></script>
				<script src="{{ site.theme.link }}/js/wow.js"></script>
				<script src="{{ site.theme.link }}/js/fam.js"></script>

				{% block scripts %}{% endblock %}

				{{ function ('wp_footer') }}

				<!-- Init code pzw.io  //-->
				<script>
					var $_PowerZAP = {
defaultCountry: '+55',
widget_id: '2419',
company: "7496"
};
(function (i, s, o, g, r, a, m) {
i[r] = {
context: {
id: '494e5b9614f4ba877ae1913c167926aa'
}
};
a = o;
o = s.createElement(o);
o.async = 1;
o.src = g;
m = s.getElementsByTagName(a)[0];
m.parentNode.insertBefore(o, m);
})(window, document, 'script', 'https://js.huggy.chat/widget.min.js?v=8.0.0', 'pwz');
				</script>
				<!-- End code pzw.io  //-->
			</body>

		</html>
