{% extends 'layout/base.twig' %}

{# Curso #}
{% set curso = types.get(post) %}

{# Docentes #}
{% set docentes = curso.child('curso-docente') %}

{# Depoimentos #}
{% set depoimentos = curso.child('curso-depoimento') %}

{# Chamada #}
{% set chamada = (curso.terms('chamada-curso')|first).name %}
{% set chamada = types.get('chamada', { name: chamada })|first %}

{# Tipo de Chamada #}
{% set chamada_template = chamada._('formato') %}
{% if chamada_template == '' %}
{% set chamada_template = 'logo-foto-cta' %}
{% endif %}
{% set chamada_template = chamada_template | split('-') %}

{# Mensalidades #}
{% set mensalidades = curso.child('curso-mensalidade') %}

{# ExtraClass - Main #}
{# ExtraClass - Container #}
{# ExtraClass - Row #}

{% set extraClassMain = '' %}
{% set extraClassContainer = '' %}
{% set extraClassRow = '' %}


{% for formato in chamada_template %}
    {% if formato == 'cta+matricula' %}
        {% set extraClassMain = 'right' %}

    {% elseif formato == 'tecfam2020' %}
        {% set extraClassMain = 'main-tecfam2020' %}
        {% set extraClassContainer = 'container-chamada-tecfam2020' %}
        {% set extraClassRow = 'row-chamada-tecfam2020' %}

    {% elseif formato == 'famead2020' %}
        {% set extraClassMain = 'famead2020' %}
        {% set extraClassContainer = 'container-chamada-famead2020' %}
        {% set extraClassRow = 'row-chamada-famead2020' %}
    {% endif %}
{% endfor %}


{% block banner %}

<div style="display: none !important;" class="chamada-curso {{ extraClassMain}}" style="background-image:url('{{ chamada.thumbnail.src }}')">	
	<div class="container h-100 {{ extraClassContainer }}">
		<div class="row h-100 {{ extraClassRow }}">
		{% for formato in chamada_template %}
			<!-- FORMATO: {{ formato }} -->
		{% if formato == 'logo' %}
			<div class="col-md-4 col-xs-12 arte arte-logo">
				<img class="logo" src="{{ chamada._('logo') }}">
			</div>
		{% elseif formato == 'foto' %}
			<div class="col-md-3 col-xs-12 arte arte-foto">
				<img class="foto" src="{{ chamada._('imagem') }}">
			</div>
		{% elseif formato == 'cta' %}
			<div class="col-md-5 col-xs-12 call-to-action">
				<a href="{{ chamada._('url') }}" rel="noopener" target="_blank">
					<img src="{{ chamada._('call-to-action') }}" />
				</a>
			</div>
		{% elseif formato == 'cta+matricula' %}
			<div class="col-md-12 col-xs-12 cta-matricula">
				<a href="{{ chamada._('url') }}" rel="noopener" target="_blank">
					<img src="{{ chamada._('call-to-action') }}" />
				</a>
				<a href="{{ chamada._('url-faca-sua-matricula') }}" rel="noopener" target="_blank">
					<img src="{{ chamada._('faca-sua-matricula') }}" />
				</a>
			</div>
		{% elseif formato == 'tecfam2020' %}
			<div class="col-md-6 chamada-tecfam-2020 order-1">
				<img class="logo" src="{{ chamada._('logo') }}">
			</div>
			<div class="col-md-6 chamada-tecfam-2020 title-container order-0">
				<a href="{{ chamada._('url') }}" rel="noopener" target="_blank">
					<img class="title" src="{{ chamada._('imagem') }}">
				</a>
			</div>
			<div class="buttons">
				<a href="{{ chamada._('url') }}" rel="noopener" target="_blank">
					<img src="{{ chamada._('call-to-action') }}" class="button" />
				</a>
				<a href="{{ chamada._('url-faca-sua-matricula') }}" rel="noopener" target="_blank">
					<img src="{{ chamada._('faca-sua-matricula') }}" class="button" />
				</a>
			</div>
		{% elseif formato == 'famead2020' %}
			<div class="col-md-4 chamada-famead-2020 logo-container order-1 pl-0 hide-mobile">
				<img class="logo" src="{{ chamada._('logo') }}">
			</div>
			<div class="col-md-4 chamada-famead-2020 title-container">
				<a href="{{ chamada._('url') }}" rel="noopener" target="_blank">
					<img class="title" src="{{ chamada._('imagem') }}">
				</a>
			</div>
			<div class="col-md-4 chamada-famead-2020 title-container hide-mobile">
				<a href="{{ chamada._('url') }}" rel="noopener" target="_blank">
					<img class="title" src="{{ chamada._('imagem-terciaria') }}">
				</a>
			</div>
			<div class="buttons">
                <div class="col-md-4">
                    <a href="{{ chamada._('url') }}" rel="noopener" target="_blank">
                        <img src="{{ chamada._('call-to-action') }}" class="button" />
                    </a>
                    <a href="{{ chamada._('url-faca-sua-matricula') }}" rel="noopener" target="_blank">
                        <img src="{{ chamada._('faca-sua-matricula') }}" class="button" />
                    </a>
                </div>
			</div>
		{% endif %}
		{% endfor %}
			<!--<div class="col-md-7 col-xs-12 arte">
				<img class="logo" src="{{ chamada._('logo') }}">
			{% if chamada._('imagem') %}
				<img class="foto" src="{{ chamada._('imagem') }}">
			{% endif %}
			</div>
			<div class="col-md-5 col-xs-12 call-to-action">
				<a href="{{ chamada._('url') }}">
					<img src="{{ chamada._('call-to-action') }}" />
				</a>
			</div>-->
		</div>
	</div>
</div>
{% endblock %}

{# Página #}
{% block body %}
<div class="pagina-curso">
	<div class="container">
		<div class="row">
			{# Corpo Principal #}
			<div class="col-md-12 corpo-principal">
				<h1 style="display: none !important;">{{ curso.title }}</h1>

				{{ curso.content }}

				<a id="grade"></a>

				{#<h3>Grade Curricular</h3>
				<p>{{ curso._('grade')|nl2br }}</p>#}
			</div>

			{# Sidebar #}
			<div class="col-md-5 sidebar" style="display: none !important;">
				{# Infos do Curso #}
				<div class="bloco">
					<h2>Informações do Curso</h2>
					<p><i class="icon icon-escola"></i> Diploma: {{ curso._('diploma') }}</p>
					<p><i class="icon icon-time"></i> Duração: {{ curso._('duracao') }}</p>
					<p><i class="icon icon-periodo"></i> Período: {{ curso._('periodo') }}</p>
					<p><i class="icon icon-book"></i> Tipo: {{ curso._('tipo') }}</p>
					<p><i class="icon icon-mail"></i> E-mail: {{ curso._('email-curso') }}</p>
					<p><a href="#modalGrade" class="btn-cta" type="button" data-toggle="modal" data-target="#modalGrade">Grade Curricular</a></p>
				</div>

				{# Coordenadores #}
				<div class="bloco">
					<h2>Coordenador</h2>
				{% for docente in docentes %}
				{% if docente._('coordenador') %}
					<p class="professor">{{ docente.title }} <a href="{{ docente._('cv-lattes') }}" target="_blank" class="btn">Currículo</a></p>
				{% endif %}
				{% endfor %}
				</div>

				{# Professores #}
			{% if Professores|length > 0 %}
				<div class="bloco">
					<h2>Professores</h2>
				{% for docente in docentes %}
				{% if docente._('professor') %}
					<p class="professor">{{ docente.title }} <a href="{{ docente._('cv-lattes') }}" target="_blank" class="btn">Currículo</a></p>
				{% endif %}
				{% endfor %}
				</div>
			{% endif %}

			{% if curso._('agende-sua-reuniao') %}
				{# Falar com Coordenador #}
				<a href="{{ curso._('agende-sua-reuniao') }}" target="_blank">
					<div class="bloco has-icon messenger small-margin calendar-icon">
						<span>Agende uma Reunião com o Coordenador</span>
					</div>
				</a>
			{% endif %}

			{% if mensalidades %}
				{# Mensalidade #}
				<div id="curso-mensalidade" class="bloco has-title has-icon">
					<h2>
						<i class="bloco-icon icon icon-credit has-background"></i>
						Parcelas Mensais
					</h2>
					<div class="content">
						<div class="row">
						{# Aqui calculamos a largura da coluna, com largura mínima de 4 colunas #}
						{% set mensalidades_span = (12 / mensalidades|length)|round(0, 'floor') %}
						{% if mensalidades_span < 4 %}{% set mensalidades_span = 4 %}{% endif %}
						{% for mensalidade in mensalidades %}
							<div class="col-md-{{ mensalidades_span }}">
								<strong>{{ mensalidade.title }}</strong>
								<span>{{ mensalidade.content }}</span>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}

				{# Whatsapp #}
				<a href="https://api.whatsapp.com/send?phone=5519994379555" target="_blank">
					<div class="bloco has-icon small-margin whatsapp">
						<i class="bloco-icon icon icon-whatsapp"></i>
						<span>Whatsapp</span>
					</div>
				</a>

				{# Messenger #}
				<a href="https://m.me/famamericana" target="_blank">
					<div class="bloco has-icon small-margin messenger">
						<i class="bloco-icon icon icon-facebook-messenger"></i>
						<span>Facebook Messenger</span>
					</div>
				</a>

				{# Form Contato #}
				<div id="curso-contato" class="bloco has-title has-icon">
					<h2>
						<i class="bloco-icon icon icon-mail has-background"></i>
						Fale com o Coordenador
					</h2>
					<div class="content">
						{{ function ('do_shortcode', '[contact-form-7 id="54" title="Curso - Contato do Coordenador"]') }}
					</div>
				</div>

				{# Telefones #}
				<div class="bloco has-title has-icon">
					<h2>
						<i class="bloco-icon icon icon-fone-rounded"></i>
						Telefones
					</h2>
					<div class="content">
						<p>Linha Gratuita: 0800 771 2449</p>
						<p>(19) 3465.8100 (19) 3478.2449</p>
					</div>
				</div>
			</div>
		</div>
		
		{# Call to Action no rodapé #}
		<div class="row">
			<div class="col-md-12" style="display: none !important;">
				<strong class="cta-heading">Está preparado para dar o passo inicial para garantir o seu futuro?</strong>
			{% if chamada._('call-to-action-bottom') %}
				<a class="cta-heading" href="{{ chamada._('url') }}"><img src="{{ chamada._('call-to-action-bottom') }}" /></a>
			{% else %}
				<a class="cta-heading" href="{{ chamada._('url') }}"><img src="{{ chamada._('call-to-action') }}" /></a>
			{% endif %}
			</div>
		</div>
	</div>

	{# Depoimentos #}
{% if depoimentos %}
	<div class="depoimentos">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel">
					{% for depoimento in depoimentos %}
						<div class="item">
							<div class="row">
								<div class="col-md-4">
									<div class="img" style="background-image:url('{{ depoimento.thumbnail.src }}')"></div>
								</div>
								<div class="col-md-8">
									<p>{{ depoimento.content }}</p>
									<strong>{{ depoimento.title }}</strong>
								</div>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
</div>

<div id="modalGrade" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Grade Curricular</h4>
      </div>
      <div class="modal-body">
        <p><p>{{ curso._('grade')|nl2br }}</p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
(() => {
	var $ = jQuery;

	$(document).ready(() => {
		$('#hCoordenador').val('{{ curso._('email-curso') }}');
	});

	// $('.owl-carousel').owlCarousel({ navigation: true });

	$('.owl-prev').html('<i class="fa fa-chevron-left"></i>');
	$('.owl-next').html('<i class="fa fa-chevron-right"></i>');
	// $('.owl-nav').removeClass('disabled');
})();
</script>
{% endblock %}